<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cloud="http://schema.cloudfoundry.org/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://schema.cloudfoundry.org/spring 
						http://schema.cloudfoundry.org/spring/cloudfoundry-spring-0.6.xsd">
	
	<context:annotation-config />

	<context:component-scan base-package="com.sivalabs.linkshare" />
	
	<import resource="applicationContext-datasource.xml"/>
   	<import resource="applicationContext-jpa.xml"/>
	<import resource="applicationContext-services.xml"/>
   	<import resource="twitter-context.xml"/>  
   	
	<beans profile="dev">
		<context:property-placeholder location="classpath:application-dev.properties" />
	</beans>
	
	<beans profile="test">
		<context:property-placeholder location="classpath:application-test.properties" />
	</beans>
	
	<beans profile="cloud">
		<context:property-placeholder location="classpath:application-cloud.properties" />
	</beans>
	
   	 	
     
</beans>
